* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Mono', monospace; }

button {
  background: none;
  border: none;
  outline: none;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.btn.btn-primary {
  margin-top: 10px;
  padding-top: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }

.page-header h2 {
  color: #ff7f24;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.navbar.navbar-expand {
  background: #fff5e7;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: none;
  color: #777;
  border-radius: 5px; }

@media (max-width: 767px) {
  .nav.navbar-nav.navbar-right {
    display: flex;
    float: right; } }

.dashboard-container {
  background: url("/images/cam-adams-41558-unsplash.jpg") no-repeat center center fixed;
  background-size: cover; }

.content-container {
  margin: 0 auto;
  width: 87.5%;
  padding: 5px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px; }
  @media (max-width: 767px) {
    .content-container {
      width: 84%; } }
  .content-container h3,
  .content-container p {
    text-align: center; }
  .content-container label {
    margin-bottom: -5px; }
  .content-container input {
    height: 30px; }
  .content-container input[name='name'] {
    margin-bottom: 10px; }

.login-container {
  background: url("/images/luca-bravo-177552-unsplash.jpg") no-repeat center center fixed;
  background-size: cover; }

.signup-container {
  background: url("/images/henry-be-99471-unsplash.jpg") no-repeat center center fixed;
  background-size: cover; }

.container,
.upload-container {
  width: 90%;
  margin: 0 auto; }

.row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: left; }
  .row h4 {
    margin-left: 15px; }

.upload-select-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px; }

.upload-container {
  margin: 0 auto; }
  .upload-container form {
    display: flex;
    flex-direction: column; }

div.form-container {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px; }
  div.form-container label {
    margin-bottom: 5px; }
  div.form-container input {
    height: 30px; }
  div.form-container input[name='username'] {
    margin-bottom: 10px; }

.jumbotron {
  background: #ffe3cd;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 300px; }
  @media (max-width: 767px) {
    .jumbotron {
      margin: 0 auto 20px;
      display: flex;
      flex-direction: column;
      align-items: center; } }

/* footer basic styling */
footer {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 0; }

footer p {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 0.7rem;
  color: #fff5e7;
  font-size: 1.9rem;
  letter-spacing: 0.1em; }

/* Sticky Footer styling */
:root {
  --space: 1.5em 0;
  --space: 2em 0; }

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%; }

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden; }

/*# sourceMappingURL=style.css.map */
