// query variables
$max-767: '(max-width: 767px)';
$min-320: '(min-width: 320px)';
$min-768: '(min-width: 768px)';
// color variables
$NavBarBackground: #fff5e7;
$Chocolate1: #ff7f24;
$JumbotronBackground: #ffe3cd;